mat-toolbar {
  background-color: #27ae5fa9;
  color: #fff;
}
.icons {
  display: flex;
  flex-direction: row-reverse;
}

.example-spacer {
  flex: 1 1 auto;
}
button:hover {
  background-color: #ecf0f156;
}

.logo_top{
  margin-left: 10px;
  margin-right: 10px;
}

a{
  text-decoration: none;
  color:#fff;
}
a:active{
  text-decoration: none;
}
