<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button (click)="toggleSidemenu()">
      <mat-icon>menu</mat-icon>
    </button>

    <span>Freedom Fleet System</span>
    <span class="example-spacer"></span>

    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>apps</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-menu #appMenu="matMenu">
  <button mat-menu-item>Settings</button>
  <button mat-menu-item>Help</button>
  <button mat-menu-item>Logout</button>

</mat-menu>
<app-progress-bar></app-progress-bar>
