.container-main {
  margin: 10px;
}
.container-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.item {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(50% - 10px); /* separate properties for IE11 upport */
  margin-top: 10px;
}

mat-card-content {
  margin-top: 10px;
}

mat-card-title-group {
  border-bottom: 0.5px solid #bbb;
}
mat-card-actions {
  margin-left: 2px;
}
