<div class="container-main">
  <mat-card>
    <mat-card-title>Drivers</mat-card-title>
  </mat-card>
</div>
<div class="container-main">
  <div class="container-box">
    <div class="item">
      <mat-card>
        <mat-card-title-group>
        <mat-card-title>List of Drivers</mat-card-title>
        <app-btn-print type="icon"></app-btn-print>
        </mat-card-title-group>
      <mat-card-content>
        <button class="btn-success" mat-raised-button color="primary" routerLink="/drivers/new">
          <mat-icon>add_circle_outline</mat-icon><span class="span-btn-with-icon">New</span>
        </button>

      </mat-card-content>
    </mat-card>

    </div>
</div>
</div>
