<mat-drawer-container class="drawer-container">
  <mat-drawer mode="side" opened class="side-menu">
    <mat-action-list>
      <button mat-list-item > <mat-icon>drive_eta</mat-icon><span>Vehicles</span></button>
      <button mat-list-item > <mat-icon>sports_motorsports</mat-icon><span>Drivers</span></button>
      <button mat-list-item > <mat-icon>trending_up</mat-icon><span>Reports</span></button>
      <button mat-list-item > <mat-icon>settings</mat-icon><span>Settings</span></button>
    </mat-action-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
