
.mat-drawer-container{
  height: 100%;
}
.mat-action-list{
  width: 200px;
  margin: 20px;
}

.mat-list-item:hover{
  opacity: .2;
  background-color:#bdc3c7 !important;
}
span{
  padding-left: 20px;


}
.side-menu{
  background-color: #f3f3f3;
  opacity: .8;
}

