<div *ngIf="show" @faded>
  <div *ngIf="errorMessages.hasError" class="container-main" id="error">
    <mat-card class="error-message">
      <mat-card-title>
        <div *ngIf="errorMessages.status">Status Erro: {{ errorMessages.status }}</div>
        <div *ngIf="errorMessages.statusText">Status Erro: {{ errorMessages.statusText }}</div>

        <div *ngIf="errorMessages.message">Message Erro: {{ errorMessages.message }}</div>
        <div *ngIf="errorMessages.errors">Erro Messages: {{ errorMessages.errors }}</div>

      </mat-card-title>
    </mat-card>
  </div>
  <div *ngIf="!errorMessages.hasError" class="container-main" id="error">
    <mat-card class="success-message">
      <mat-card-title>
        <div *ngIf="errorMessages.message">{{ errorMessages.message }}</div>
      </mat-card-title>
    </mat-card>
  </div>
</div>
