<div *ngIf="show" @faded>
  <div *ngIf="errorMessages.hasError" class="container-main" id="error">
    <mat-card class="error-message">
      <mat-card-title>
        <div *ngIf="errorMessages.status" class="message" ><span >Status Erro: {{ errorMessages.status }}</span></div>
        <div *ngIf="errorMessages.statusText" class="message"><span >Status Erro: {{ errorMessages.statusText }}</span></div>
        <div *ngIf="errorMessages.message"class="message" ><span >Message Erro: {{ errorMessages.message }}</span></div>
        <div *ngFor="let erro of errorMessages.errors" class="message" ><span >Errors: {{ erro.message }}</span></div>
      </mat-card-title>
    </mat-card>
  </div>
  <div *ngIf="!errorMessages.hasError" class="container-main" id="error">
    <mat-card class="success-message">
      <mat-card-title>
        <div *ngIf="errorMessages.message" class="message"><Span>{{ errorMessages.message }}</Span></div>
      </mat-card-title>
    </mat-card>
  </div>
</div>
