<div class="container-main">
  <mat-card>
    <mat-card-title>Vehicles</mat-card-title>
  </mat-card>
</div>
<app-error-handler></app-error-handler>

<div class="container-main">
  <form
    [formGroup]="vehicleForm"
    #myForm="ngForm"
  >
    <div class="container-box">
      <div [ngClass]="{ 'item-mobile': (breakpointService.isXSScreen ||
      breakpointService.isSMScreen ||
      breakpointService.isMDScreen)
      , item: !(breakpointService.isXSScreen ||
      breakpointService.isSMScreen ||
      breakpointService.isMDScreen)
       }">
        <mat-card>
          <mat-card-title-group>
            <mat-card-title *ngIf="!isEditMode"
              >Create a New Vehicle</mat-card-title
            >
            <mat-card-title *ngIf="isEditMode"
              >Edit Vehicle id : {{ id.value }}
            </mat-card-title>
            <app-btn-print *ngIf="isEditMode" type="icon"></app-btn-print>
          </mat-card-title-group>
          <mat-card-content>
            <mat-form-field appearance="outline">
              <mat-label>Vehicle Type</mat-label>
              <input
                matInput
                id="type"
                formControlName="type"
                placeholder="Type Your Vehicle type"
              />
              <mat-error *ngIf="type.invalid">
                Vehicle is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Vehicle Model</mat-label>
              <input
                matInput
                id="model"
                formControlName="model"
                placeholder="Type Your Vehicle Model"
              />
              <mat-error *ngIf="model.invalid">
                Vehicle Model is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Plate</mat-label>
              <input
                matInput
                id="plate"
                formControlName="plate"
                placeholder="Type Your Plate"
              />
              <mat-error *ngIf="plate.invalid">
                Vehicle Plate is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Year</mat-label>
              <input
                matInput
                id="year"
                formControlName="year"
                placeholder="Type Your Vehicle Year"
              />
              <mat-error *ngIf="year.hasError('required')">
                Vehicle Year is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="year.hasError('pattern') && !year.hasError('required')">
                Year Invalid
              </mat-error>
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions align="start">
            <button
              [disabled]="!myForm.valid"
              mat-raised-button
              color="primary"
              (click)="submitForm()"
            >
              <mat-icon>save</mat-icon
              ><span class="span-btn-with-icon">Save</span>
            </button>
            <button mat-raised-button color="primary" routerLink="/vehicles">
              <mat-icon>keyboard_arrow_left</mat-icon
              ><span class="span-btn-with-icon">Back</span>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>

      <!-- flex break when if mobile -->
      <div *ngIf="(breakpointService.isXSScreen ||
      breakpointService.isSMScreen ||
      breakpointService.isMDScreen)
      " class="break"></div>
      <!--flex break when if mobile -->

      <div
        *ngIf="showRQCode"
        [ngClass]="{ 'item-mobile': (breakpointService.isXSScreen ||
        breakpointService.isSMScreen ||
        breakpointService.isMDScreen)
        , item: !(breakpointService.isXSScreen ||
        breakpointService.isSMScreen ||
        breakpointService.isMDScreen)
         }"
      >
        <mat-card>
          <mat-card-title-group>
            <mat-card-title>Vehicle QRcode</mat-card-title>
          </mat-card-title-group>

          <mat-card-content>
            <qrcode *ngIf="qrdata.value" [qrdata]="qrdata.value" [size]="256" [level]="'M'">
            </qrcode>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </form>
</div>
