<mat-sidenav-container>
  <mat-sidenav #sidemenu [mode]="isMobile ? 'over' : 'side'" [opened]="isMobile ? false: true" class="side-menu">
    <mat-action-list>
      <button mat-list-item (click)="isMobile?sidemenu.toggle(): null" routerLink="/">
        <mat-icon>home</mat-icon><span>Dashboard</span>
      </button>
      <button mat-list-item (click)="isMobile?sidemenu.toggle(): null" routerLink="/vehicles">
        <mat-icon>drive_eta</mat-icon><span>Vehicles</span>
      </button>
<!--       <button mat-list-item (click)="isMobile?sidemenu.toggle(): null">
        <mat-icon>sports_motorsports</mat-icon><span>Drivers</span>
      </button>
      <button mat-list-item (click)="isMobile?sidemenu.toggle(): null">
        <mat-icon>trending_up</mat-icon><span>Reports</span>
      </button>
      <button mat-list-item (click)="isMobile?sidemenu.toggle(): null">
        <mat-icon>settings</mat-icon><span>Settings</span>
      </button> -->
    </mat-action-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet ></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
