<mat-sidenav-container>
  <mat-sidenav
    #sidemenu
    [mode]="
      (breakpointService.isXSScreen ||
      breakpointService.isSMScreen ||
      breakpointService.isMDScreen)
        ? 'over'
        : 'side'
    "
    [opened]="
      (breakpointService.isXSScreen ||
      breakpointService.isSMScreen ||
      breakpointService.isMDScreen)
        ? false
        : true
    "
    class="side-menu"
  >
    <mat-action-list>
      <button
        mat-list-item
        (click)="
          breakpointService.isXSScreen ||
          breakpointService.isSMScreen ||
          breakpointService.isMDScreen
            ? sidemenu.toggle()
            : null
        "
        routerLink="/"
      >
        <mat-icon>home</mat-icon><span>Dashboard</span>
      </button>
      <button
        mat-list-item
        (click)="
          breakpointService.isXSScreen ||
          breakpointService.isSMScreen ||
          breakpointService.isMDScreen
            ? sidemenu.toggle()
            : null
        "
        routerLink="/vehicles"
      >
        <mat-icon>drive_eta</mat-icon><span>Vehicles</span>
      </button>
      <!-- Driver Button -->
      <button
      mat-list-item
      (click)="
        breakpointService.isXSScreen ||
        breakpointService.isSMScreen ||
        breakpointService.isMDScreen
          ? sidemenu.toggle()
          : null
      "
      routerLink="/drivers"
    >
      <mat-icon>sports_motorsports</mat-icon><span>Drivers</span>
    </button>
      <!--       <button mat-list-item (click)="isMobile?sidemenu.toggle(): null">
        <mat-icon>sports_motorsports</mat-icon><span>Drivers</span>
      </button>
      <button mat-list-item (click)="isMobile?sidemenu.toggle(): null">
        <mat-icon>trending_up</mat-icon><span>Reports</span>
      </button>
      <button mat-list-item (click)="isMobile?sidemenu.toggle(): null">
        <mat-icon>settings</mat-icon><span>Settings</span>
      </button> -->
    </mat-action-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-error-handler></app-error-handler>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
