mat-sidenav-container {
  height: 88vh;
}
mat-action-list {
  width: 200px;
  margin: 20px;
}

.mat-list-item:hover {
  background-color: #bdc3c7a8 !important;
}
span {
  padding-left: 20px;
}
.side-menu {
  background-color: #ecf0f1;
}

mat-sidenav-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
}
