  <app-print-layout>
  <app-print-title>
    <div class="title-content">
      <img class="logo" src="assets/img/logoFleet.png" />
      <div>
        <h1>Fleet System</h1>
        <p>phone: 5555</p>
        <p>fleet@fletsystem.com</p>
        <p>adress</p>
      </div>
    </div>
  </app-print-title>

  <!--container sera criado automatico quando clicar no print -->
  <app-print-container>
  <div>
    <h1>container</h1>
  </div>
  </app-print-container>


  <app-print-footer>
    <div class="footer-container">
        <p>Fleet System</p>
        <p>phone: 5555</p>
        <p>fleet@fletsystem.com</p>
        <p>adress</p>
    </div>
  </app-print-footer>
</app-print-layout>
