/* You can add global styles to this file, and also import other style files */

body,
html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
body {
  margin: 10px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  display: flex;
  margin: 10px;
}

.items-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 10px;
  min-height: 95%;
}
.item {
  flex: 1;
  margin: 10px;
}
.item:first-child {
  margin-left: 0;
}
.item:last-child {
  margin-right: 0;
}
.item-mobile {
  flex: 1;
  margin: 10px;
  margin-left: 0;
  margin-right: 0;
}
.break {
  flex-basis: 100%;
  width: 0;
}
.container-main {
  margin: 10px;
}
.container-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  flex-basis: 100%;
}

mat-form-field {
  width: 100%;
}
mat-card-content {
  margin-top: 10px;
}

mat-card-title-group {
  border-bottom: 0.5px solid #bbb;
}
mat-card-actions {
  margin: 0 !important;
  padding: 0 !important;
}

.error-message {
  background-color: #c03a2b85;
}
.success-message {
  background-color: #27ae5f85;
}

th.mat-sort-header-sorted {
  color: black;
}
.span-btn-with-icon {
  margin-left: 10px;
}

.icon-edit {
  color: #2980b9;
}
.icon-delete {
  color: #c0392b;
}

.btn-success {
  background-color: #27ae60 !important;
}
.table-with-scroll {
  max-height: 300px;
  overflow: auto;
}

.box-btn {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mat-row:hover {
  background-color: #bdc3c773;
}
.icon-hover:hover {
  font-size: 30px;
}
