<div class="container-main">
  <mat-card>
    <mat-card-title>Vehicles</mat-card-title>
  </mat-card>
</div>
<app-error-handler></app-error-handler>

<div class="container-main">
  <div class="container-box">
    <div class="item">
      <mat-card>
        <mat-card-title-group>
          <mat-card-title>List of Vehicles</mat-card-title>
          <app-btn-print type="icon"></app-btn-print>


        </mat-card-title-group>
        <mat-card-content>
          <div class="box-btn">
            <button class="btn-success" mat-raised-button color="primary" routerLink="/vehicles/new">
              <mat-icon>add_circle_outline</mat-icon><span class="span-btn-with-icon">New</span>
            </button>
          </div>
         <mat-form-field appearance="outline" class="print">
            <mat-label >Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Ferrari">
          </mat-form-field>

          <div class="table-with-scroll" >
            <mat-table class="mat-elevation-z8" [dataSource]="dataSource" matSort>

              <!-- Position Column
              <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Id. </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element._id}} </mat-cell>
              </ng-container>-->

              <!-- Name Column-->
              <ng-container matColumnDef="type">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
              </ng-container>-->

              <!-- Model Column-->
              <ng-container matColumnDef="model">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Model </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.model}} </mat-cell>
              </ng-container>

              <!-- Year Column -->
              <ng-container matColumnDef="year">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Year </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.year}} </mat-cell>
              </ng-container>
              <!-- Plate Column-->
              <ng-container matColumnDef="plate">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Plate </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.plate}} </mat-cell>
              </ng-container>

              <!-- Actions Column -->

              <ng-container matColumnDef="actions" >
                <mat-header-cell *matHeaderCellDef mat-sort-header class="print" > Actions </mat-header-cell>
                <mat-cell class="print" *matCellDef="let element">
                  <div>
                    <button *ngIf="!breakpointService.isXSScreen" mat-icon-button class="icon-edit"
                      [routerLink]="['/vehicles/edit', element._id ]">
                      <mat-icon class="icon-hover">create</mat-icon>
                    </button>
                    <button mat-icon-button class="icon-delete" (click)="openDialog(element)">
                      <mat-icon class="icon-hover">remove_circle</mat-icon>
                    </button>
                  </div>
                </mat-cell>
              </ng-container>


              <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="breakpointService.isXSScreen ? openEdit(row): null ">
              </mat-row>



            </mat-table>
          </div>
          <!-- <mat-paginator [length]="220" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">">
          </mat-paginator> -->
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
