@media print {
  /*when has print dont show in the print screen*/
  :host ::ng-deep .print{
    display: none;
  }
  /*remove top menu
  app-top-menu {
    display: none;
  }*/
  /*remove footer*/
  app-footer {
    display: none;
  }
  :host ::ng-deep a{
    color: black!important;
  }
  /*remove side menu*/
  :host ::ng-deep mat-sidenav {
    display: none;
  }
  /*setting margin 0 in the sidenave content*/
  :host ::ng-deep mat-sidenav-content {
    margin: 0 !important;
    min-width: 0 !important;
    padding: 0 !important;
  }
  /*remove scroll in the table*/
  :host ::ng-deep .table-with-scroll {
    min-height: 100%!important;
    overflow: hidden!important;
    max-height: 100%;
  }
  :host ::ng-deep mat-table{
    min-height: 200px;
  }
  /*remove all buttons*/
  :host ::ng-deep button{
    display: none;
  }
  /*show header button in the table*/
  :host ::ng-deep mat-header-cell > * button{
    display: block!important;
  }

  /* config for qrcode*/
  :host ::ng-deep canvas{
    height: 250px !important ;
    width: 250px !important;
  }
  /* setting layout as a column when print*/
  :host ::ng-deep .container-box{
  flex-flow: column;
  justify-content: space-around;
  flex-basis: 100%;

  }
  :host ::ng-deep .item{

    margin-left: 0!important;
    margin-right: 0!important;
  }
  * {
    background-color: transparent!;
  }

}
